<div>
  <span style="display:none">
    Thank you for joining. We are so excited to have you and can't wait for you to start taking advantage of what
    {{appName}}
    has to offer.
  </span>
  <h2>Thank you for creating your account!</h2>
  <p>Hi there,</p>
  <p>We are so excited to have you and can't wait for you to start taking advantage of what <strong>{{appName}}</strong> has to offer.</p>
  <a href="{{website}}" class="buttonLink">Get Started</a>
</div>